{% extends "Worker/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
        <link rel="stylesheet" href="{% static 'style/style02.css' %}">

{% endblock %}
{% block navbar %}


                <div class="nav_list"> <a href="{% url 'showdekl' %}" class="nav_link "> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Deklaracje</span> </a>
                    <a href="{% url 'add_form' %}" class="nav_link"> <i class='bx bxs-file-plus nav_icon'></i> <span class="nav_name">Dodaj formularz</span> </a>
                    <a href="{% url 'deklPERS' %}" class="nav_link"> <i class='bx bxs-file-pdf nav_icon' ></i> <span class="nav_name">Formularze</span> </a>
                    <a href="{% url 'doc_show' %}" class="nav_link"> <i class='bx bxs-file-doc nav_icon' ></i> <span class="nav_name">Dokumenty</span> </a>
                    <a href="{% url 'visit_per' %}" class="nav_link active"> <i class='bx bx-table nav_icon'></i> <span class="nav_name">Rejestr wizyt</span> </a>
                    <a href="{% url 'editper' %}" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profil</span> </a>
                    </div>
{% endblock navbar %}
{% block content %}
    <br/>
    <br/>
    <br/>

<form method="post">
{%  csrf_token  %}


{{ form }}
{#<select class="select form-control" name="work_person" id="id_work_personr">#}
{#    <option value selected>Wybierz Lekarza</option>#}
{#    {% for x in show %}#}
{#        <option value="{{ x.id}}">{{ x }} </option>#}
{#{% endfor %}#}
{#</select>#}
<input type="submit" name="two" class="btn btn-primary" value="Wybierz">
</form>

















{% endblock content %}
{% block extrascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function () {
      $('.term').selectize({
          sortField: 'text'
      });
  });
        $(document).ready(function () {
      $('.pers').selectize({
          sortField: 'text'
      });
  });
    </script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>

    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}