{% extends "base.html" %}
{% load static %}
{% block navbar %}


                <div class="nav_list"> <a href="#" class="nav_link "> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Strona Główna</span> </a>
                    <a href="{% url 'organization' %}" class="nav_link"> <i class='bx bx-plus-medical nav_icon'></i> <span class="nav_name">Zarejestruj wizytę</span> </a>
                    <a href="{% url 'e_systemREC' %}" class="nav_link"> <i class='bx bx-capsule nav_icon'></i> <span class="nav_name">Recepty</span> </a>
                    <a href="{% url 'e_systemSKIER' %}" class="nav_link"> <i class='bx bx-donate-heart nav_icon'></i> <span class="nav_name">Skierowania</span> </a>
                    <a href="{% url 'visit' %}" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Przegląd wizyt</span> </a>
                    <a href="{% url 'upload' %}" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Dokumenty</span> </a>
                    <a href="{% url 'editprofile' %}" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profil</span> </a>
                    </div>
{% endblock navbar %}
{% block content %}
    <h1 style="text-align: center; color: #212121"><b>MedikoDOC</b> </h1>





    <h1 style="text-align: center; color: red">Brak dostępu Twój profil nie został potwierdzony</h1></div>
    <h3 style="text-align: center; color: red">Spróbuj poźniej</h1></div>


{% endblock content %}



