




{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}
 {% block style %}


 {% endblock %}

{% block navbar %}


                <div class="nav_list"> <a href="#" class="nav_link "> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Strona Główna</span> </a>
                    <a href="{% url 'organization' %}" class="nav_link active"> <i class='bx bx-plus-medical nav_icon'></i> <span class="nav_name">Zarejestruj wizytę</span> </a>
                    <a href="{% url 'e_systemREC' %}" class="nav_link "> <i class='bx bx-capsule nav_icon'></i> <span class="nav_name">Recepty</span> </a>
                    <a href="{% url 'e_systemREC' %}" class="nav_link"> <i class='bx bx-donate-heart nav_icon'></i> <span class="nav_name">Skierowania</span> </a>
                    <a href="{% url 'visit' %}" class="nav_link  "> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Przegląd wizyt</span> </a>
                    <a href="{% url 'upload' %}" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Dokumenty</span> </a>
                    <a href="{% url 'editprofile' %}" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profil</span> </a>
                    </div>
{% endblock navbar %}


{% block content %}





    <h3 style="text-align: center;"class="card-title">Poradnie ogólne</h3>
    <div style="text-align: center;">
        <img style="width: 450px; margin: auto;" src="{% static 'image/clinic.jpg' %}" class="card-img-top" alt="...">
    </div>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{form.name.label}}
{{form.name}}
{{form.type_forms.label}}
{{form.type_forms}}
{{form.remarks_user.label}}
{{form.remarks_user}}
{{form.file.label}}
{{form.file}}
<input type="submit" class="btn btn-outline-primary" value="Prześlij deklarację">
</form>




{% endblock content %}
