{% extends "LEKARZ/base.html" %}
{% load static %}
{% block style %}
        <link rel="stylesheet" href="{% static 'style/style02.css' %}">

{% endblock %}
{% block navbar %}


                   <a href="{% url 'placeform' %}" class="nav_link active "> <i class='bx bx-plus-medical nav_icon'></i> <span class="nav_name">Mini Gabinet</span> </a>
                   <a href="{% url 'editlek' %}" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profil</span> </a>

{% endblock navbar %}
{% block content %}
    <h1 style="text-align: center; color: #212121"><b>MedikoDOC</b> </h1>
    <h1 style="text-align: center; color: #212121">Witaj w Panelu Lekarza</h1>
<hr/>
   <br/>
  <hr/>    {% for message in messages %}
                <h3 style="color: red"  id="message">{{ message }}</h3>

            {% endfor %}

        <form action="" method="get">

        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <button  class="btn btn-outline-secondary" type="submit">Wybierz</button>
  </div>
   <select class="form-select" name="place" id="id_place" aria-label="Default select example">
              <option selected>Wybierz placówkę</option>
              {% for x in show %}
                  <option value="{{ x.unit.id }}">{{ x.unit.name }}</option>
              {% endfor %}
              </select>
</div>

    </form>

{% endblock content %}